<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.1.1.min.js"></script>
        {{ form.media }}
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form }}

            <button type="button"
                    onclick="$('[id^=id_decimal_field]').val('invalid')">
                Set invalid value
            </button>

            <input type="submit" />
        </form>
    </body>
</html>
